<header class="header">

    <div class="boxTitle">
        <h1 routerLink="/home">MARVEL</h1>
    </div>
    <div class="boxMenu">
        <nav class="menuP">
            <ul class="menu" data-animation="center">
                <li class="link" routerLink="/characters"><a >Personajes</a></li>
                <li class="link" routerLink="/series"><a >Series</a></li>
                <li class="link" routerLink="/comics"><a >Comics</a></li>
            </ul>
        </nav>
    </div>

    <div class="boxMenuP">
        <div class="menuM">
            <div class="boxImgM">
                <img (click)="menu()" src="../../../assets/images/lista.png" alt="">
            </div>
        </div>
        <div *ngIf="MENU==true" class="boxyMenum">
            <nav class="menuPm">
                <ul class="menuM" data-animation="center">
                    <li class="linkM" (click)="menu()" routerLink="/characters"><a >Personajes</a></li>
                    <li class="linkM" (click)="menu()" routerLink="/series"><a >Series</a></li>
                    <li class="linkM" (click)="menu()" routerLink="/comics"><a >Comics</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


