<div class="boxHome">

    <div class="boxFatherInfo">
        <h2 class="title">Bienvenidos!!</h2>
        <div class="boxInfo">
            <p>En este proyecto se hace uso de la api de Marvel. La cual nos entrega datos de dicha franquicia de superheroes</p>
            <br>
            <p>Series, Comics, Personajes, autores y sus historias de como iniciaron y como concluyeron sus historias</p>
            <br>
            <p>Este proyecto fue desarrollado por Ivan Daniel Hincapie S.</p>
        </div>
    </div>


</div>