.boxHome{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../assets/images/4k-fondos-de-escritorio-de-comics.jpg');
    background-size: cover;
}

.title{
    font-size: 3rem;
    text-align: center;
}

.boxFatherInfo{
    width: 40%;
    background-color: rgba(245, 245, 245, 0.829);
    padding: 1rem;
    border-radius: 1rem;
}

.boxInfo{
    width: 100%;
    font-size: 2rem;
    
}

@media screen and (max-height:830px) {
    .boxHome{
        width: 100%;
        height: 120vh;
    }
}



@media screen and (max-width:1100px) {
    .boxFatherInfo{
        width: 80%;
    }
}

@media screen and (max-width:490px) {
    .boxFatherInfo{
        width: 90%;
    }
}

@media screen and (max-width:430px) {
    .boxFatherInfo{
        width: 90%;
    }

    .boxInfo{
        width: 100%;
        font-size: 1.5rem;
        
    }
    
}