<div class="boxSearch">
    <input #input class="inputS" type="text" name="" id="">
    <button class="btnBuscar" (click)="buscar(input.value)">Buscar</button>
</div>
<div class="boxCards">
    <div class="card" *ngFor="let serie of allSeries | async" style="background-image: url({{serie.thumbnail.path}}.{{serie.thumbnail.extension}}); background-size: cover;">
        <h3 class="titleCard">{{serie.title}}</h3>
    </div>
</div>

<div class="boxMas" (click)="obtenerMas()">
    <img src="../../../assets/images/down-arrow.png" alt="">
</div>
