.box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.699);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 100;
}

.boxFather{
    width: 60%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.boxMother{
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.boxOne{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxOne h2{
    
}

.boxOne img{
    width: 100%;
    height: 40vh;
}

.boxTwo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxTwoOne{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 0.5rem ;
    border-top-right-radius: 0.5rem ;
}

.opciones{
    margin: 0;
    padding: 0;
    width: 33.3%;
    text-align: center;
    height: 100%;
    font-size: 1.5rem;
    background-color: rgb(224, 224, 224);
    border: 1px solid rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxTwoTwo{
    width: 100%;
    height: 40vh;
    overflow: auto;
    border: 1px solid rgb(100, 100, 100);
}

.boxOpciones{
    width: 100%;
    height: auto;
    background-color: rgb(224, 224, 224);
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(100, 100, 100);
}

.boxOpciones:hover{
    transition: 0.3s;
    background: rgb(185, 185, 185);
}

.boxOpciones h3{
    text-align: center;
}

.a{
    border-top-left-radius: 0.4rem;
}

.b{
    width: 33.4%;
}

.c{
    border-top-right-radius: 0.4rem; 
}

.boxBtn{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-top: 1rem;
}

.opA{
    background:rgb(185, 185, 185)!important;
}

.opAx{
    background:rgb(224, 224, 224) !important;
}

.opB{
    background:rgb(185, 185, 185) !important;
}

.opBx{
    background:rgb(224, 224, 224)!important;
}

.opC{
    background:rgb(185, 185, 185)!important;
}

.opCx{
    background:rgb(224, 224, 224)!important;
}

@media screen and (max-width:1300px) {
    .boxFather{
        width: 80%;
    }
}

@media screen and (max-width:1080px) {
    .boxMother{
        flex-direction: column;
        width: 100%;
    }

    .boxOne img{
        height:30vh;
    }

    .boxTwoTwo{  
        height: 25vh;
    }

    .boxFather{
        height: 80%;
    }
}

@media screen and (max-width:800px) {
    .boxOne img{
        width: 150%;
    }
    .boxTwoOne{
        width: 150%;
    }
    .boxTwoTwo{
        width: 150%;
    }
}

@media screen and (max-width:540px) {
    .boxFather{
        width: 95%;
    }
}

@media screen and (max-width:380px) {
    .boxOne img{
        width: 180%;
    }
    .boxTwoOne{
        width: 180%;
    }
    .boxTwoTwo{
        width: 180%;
    }
}